/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  width: 100vw;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
:root h1, :root h2, :root h3, :root h4 {
  font-family: Inconsolata;
}

main {
  margin-bottom: 10rem;
  line-height: 1.5;
}

.Header {
  height: 6rem;
  background: #45268d;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}
.Header_logo {
  max-height: calc(6rem - 1rem);
  max-width: calc(6rem - 1rem);
}
.Header_nav {
  display: flex;
}
.Header_nav-item {
  padding: 0 2rem;
  transition: color ease-in-out 0.2s;
}
.Header_nav-item:hover {
  cursor: pointer;
  color: #EF790B;
}

.Hero {
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
}
.Hero_bg {
  background-image: linear-gradient(rgba(12, 53, 187, 0.8), rgba(46, 170, 219, 0.6));
  width: 100%;
  height: 100%;
}
.Hero_cessna {
  position: absolute;
  top: 20%;
  left: 2rem;
  width: 60vw;
  max-width: 90rem;
  animation: 3s ease-out 0s 1 left;
  animation-fill-mode: forwards;
  z-index: 2;
}
@keyframes left {
  0% {
    transform: translate(-100%, -60%);
  }
  100% {
    transform: translate(0, -5vh);
  }
}
@keyframes right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
.Hero_clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}
.Hero_clouds-cloud {
  position: absolute;
  bottom: -1rem;
  max-width: 100%;
  animation: animate calc(3s * var(--i)) linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(3.3);
  }
}
.Hero_logo {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: appear ease 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    width: 48%;
  }
  100% {
    opacity: 1;
    width: 50%;
  }
}

.ProductHero {
  position: relative;
  background-size: cover;
  height: 88vh;
  overflow: hidden;
  border-bottom: 5vh #EF790B solid;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 5rem;
}
.ProductHero_cockpit {
  position: absolute;
  width: 90vw;
  max-width: 100rem;
  bottom: -1.3rem;
  right: -1rem;
  animation: ease-in-out 7.5s jostle alternate infinite;
  z-index: 10;
}
@keyframes jostle {
  0% {
    transform: scale(0.98) rotate(1deg);
  }
  100% {
    transform: scale(1.02) rotate(-1deg);
  }
}
.ProductHero_title {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  background: #45268d;
  padding-left: 4rem;
  padding-right: 3rem;
  border-radius: 0px 100px 20px 0px;
  left: 0;
  top: 15%;
  transform: translateY(-50%);
}
.ProductHero-ppl {
  background-image: url("/assets/pplHero2.jpg");
}

.Introduction {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
.Introduction_header {
  font-size: 5rem;
  font-weight: bold;
  color: #45268d;
}
.Introduction_subtitle {
  font-style: italic;
  margin: 0.5rem 0;
  font-size: 3rem;
}
.Introduction_subtitle span {
  font-weight: bold;
}
.Introduction_body {
  margin: 1rem 0;
  font-size: 2rem;
}

.Widgets {
  margin-top: 5rem;
  padding-top: 2rem;
  margin-bottom: 10rem;
  width: 100vw;
  background: #45268d;
  color: #fff;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.7);
}
.Widgets_inner {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
.Widgets_inner-title {
  font-size: 3rem;
}
.Widgets_inner_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
}
.Widgets_inner_items-item {
  font-size: 2rem;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Widgets_inner_items-item:before {
  content: var(--i);
  font-family: "FontAwesome";
  font-size: 5rem;
  margin: auto;
}

.Courses {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
.Courses_title {
  font-size: 5rem;
  font-weight: bold;
  color: #45268d;
  margin-bottom: 3rem;
}
.Courses_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Courses_inner .Courses_card {
  position: relative;
  width: 30rem;
  height: 40rem;
  margin-top: 1rem;
  border-radius: 10px;
  background: linear-gradient(black 55%, #EF790B);
  color: #fff;
  overflow: hidden;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.Courses_inner .Courses_card-image {
  width: 100%;
  overflow: hidden;
  height: 70%;
  object-fit: cover;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.3);
}
.Courses_inner .Courses_card-title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.Courses_inner .Courses_card-link {
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #45268d;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 2rem;
  width: 50%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.Courses_inner .Courses_card-link:hover {
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  color: #fff;
}
.Courses_inner .Courses_card-link-disabled {
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
