@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
html {
  width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  overscroll-behavior: none;
}
:root h1, :root h2, :root h3, :root h4 {
  font-family: Inconsolata;
}

html {
  scroll-behavior: smooth;
}

main {
  line-height: 1.5;
  min-height: 100vh;
  height: 100%;
}

.Header {
  background: #45268d;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.Header_inner {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 970px) {
  .Header_inner {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Header_inner {
    width: 95%;
  }
}
.Header_inner_logo {
  max-height: 5rem;
  max-width: 5rem;
}
.Header_inner_nav {
  display: flex;
}
.Header_inner_nav-item {
  padding: 0 2rem;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #fff;
}
.Header_inner_nav-item:hover {
  cursor: pointer;
  color: #EF790B;
}

.Footer {
  width: 100%;
  background: #45268d;
  font-size: 1.5rem;
  color: #fff;
}
.Footer_inner {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2rem 0;
  margin-top: 10rem;
}
@media screen and (max-width: 970px) {
  .Footer_inner {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Footer_inner {
    width: 95%;
  }
}
@media screen and (max-width: 720px) {
  .Footer_inner {
    flex-direction: column-reverse;
  }
}
.Footer_inner_siteLinks {
  height: 100%;
}
.Footer_inner_siteLinks_inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  .Footer_inner_siteLinks_inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 720px) {
  .Footer_inner_siteLinks_inner {
    margin: 3rem auto;
    flex-direction: row;
  }
}
@media screen and (max-width: 600px) {
  .Footer_inner_siteLinks_inner {
    flex-direction: column;
  }
}
.Footer_inner_siteLinks_inner-item {
  margin: 0 1.5rem 0 0;
}
@media screen and (max-width: 720px) {
  .Footer_inner_siteLinks_inner-item {
    margin: 2rem 3rem 2rem 0;
  }
}
@media screen and (max-width: 400px) {
  .Footer_inner_siteLinks_inner-item {
    margin-right: 0.5rem;
  }
}
.Footer_inner_siteLinks_inner-item a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}
.Footer_inner_siteLinks_inner-item a:hover {
  color: #EF790B;
}
.Footer_inner_partners {
  height: 100%;
}
.Footer_inner_partners_inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Footer_inner_partners_inner-text {
  flex: 0 0 100%;
  margin-bottom: 1rem;
}
.Footer_inner_partners_inner .logo-link {
  height: 5rem;
  transition: opacity 0.3s ease-in-out;
}
.Footer_inner_partners_inner .logo-link:hover {
  opacity: 0.65;
}
.Footer_inner_partners_inner-udemy .logo-link {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.Hero {
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  .Hero {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }
}
.Hero_bg {
  background-image: linear-gradient(rgba(12, 53, 187, 0.8), rgba(46, 170, 219, 0.6));
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900) {
  .Hero_bg {
    background: none;
  }
}
.Hero_cessna {
  position: absolute;
  top: 20%;
  left: 2rem;
  width: 60vw;
  max-width: 90rem;
  animation: 3s ease-out 0s 1 left;
  animation-fill-mode: forwards;
  z-index: 2;
}
@keyframes left {
  0% {
    transform: translate(-100%, -60%);
  }
  100% {
    transform: translate(0, -5vh);
  }
}
@keyframes right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 720px) {
  .Hero_cessna {
    width: 80vw;
    top: 30%;
  }
}
@media screen and (max-width: 400px) {
  .Hero_cessna {
    animation: none;
    width: 100%;
    transform: rotate(-30deg);
  }
}
.Hero_clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 3;
}
.Hero_clouds-cloud {
  position: absolute;
  bottom: -1rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 40%;
  animation: animate calc(3s * var(--i)) linear infinite;
}
@media screen and (max-width: 720px) {
  .Hero_clouds-cloud {
    min-height: 30%;
  }
}
@media screen and (max-width: 600px) {
  .Hero_clouds-cloud {
    display: none;
    animation: none;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(3.3);
  }
}
.Hero_logo {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: appear ease 2.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
    width: 48%;
    @media screen and (max-width: 970px) {
      .Hero_logo {
        width: 58%;
      }
    }
  }
  100% {
    opacity: 1;
    width: 50%;
    @media screen and (max-width: 970px) {
      .Hero_logo {
        width: 61%;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .Hero_logo {
    opacity: 1;
    animation: none;
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Hero_logo {
    bottom: 30%;
    top: unset;
    width: 90%;
  }
}

.ProductHero {
  position: relative;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0px -30px 15px -10px rgba(0, 0, 0, 0.6) inset;
  margin-bottom: 5rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ProductHero_title {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  background: #45268d;
  padding: 1rem;
  left: 3rem;
  bottom: 15%;
  transform: translateY(-50%);
}
.ProductHero-ppl {
  background-image: url("/assets/pplHero2.jpg");
}

.Introduction {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  padding-top: 7rem;
}
@media screen and (max-width: 970px) {
  .Introduction {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Introduction {
    width: 95%;
  }
}
.Introduction_header {
  font-size: 5rem;
  font-weight: bold;
  color: #45268d;
}
@media screen and (max-width: 720px) {
  .Introduction_header {
    font-size: calc(5rem - 1rem);
    width: 100%;
    text-align: center;
    line-height: 1;
  }
}
.Introduction_subtitle {
  font-style: italic;
  margin: 0.5rem 0;
  font-size: 3rem;
}
.Introduction_subtitle span {
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  .Introduction_subtitle {
    font-size: calc(3rem - 0.5rem);
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
  }
}
.Introduction_body {
  margin: 1rem 0;
  font-size: 1.6rem;
}
@media screen and (max-width: 720px) {
  .Introduction_body {
    width: 100%;
    text-align: center;
  }
}

.Widgets {
  margin-top: 10rem;
  padding: 2rem 0 3rem 0;
  margin-bottom: 10rem;
  width: 100%;
  background: #45268d;
  color: #fff;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.7);
}
.Widgets_inner {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
@media screen and (max-width: 970px) {
  .Widgets_inner {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Widgets_inner {
    width: 95%;
  }
}
.Widgets_inner-title {
  font-size: 3rem;
}
.Widgets_inner_items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: wrap;
}
.Widgets_inner_items-item {
  font-size: 1.6rem;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Widgets_inner_items-item:before {
  content: var(--i);
  font-family: "FontAwesome";
  font-size: 5rem;
  margin: auto;
}
.Widgets_inner_items-itemText {
  max-width: 16rem;
  text-align: center;
}

.Courses {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
@media screen and (max-width: 970px) {
  .Courses {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Courses {
    width: 95%;
  }
}
.Courses_title {
  font-size: 5rem;
  font-weight: bold;
  color: #45268d;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.Courses_title:after {
  content: "";
  display: block;
  height: 5px;
  width: 5rem;
  background: #45268d;
}
@media screen and (max-width: 970px) {
  .Courses_title {
    margin-bottom: 1rem;
  }
}
.Courses_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Courses_inner .Courses_card {
  position: relative;
  width: 35rem;
  height: 60rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: solid 10px #45268d;
  color: #45268d;
  overflow: hidden;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1100px) {
  .Courses_inner .Courses_card {
    width: 70%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 720px) {
  .Courses_inner .Courses_card {
    width: 100%;
  }
}
.Courses_inner .Courses_card-image {
  width: 100%;
  overflow: hidden;
  height: 60%;
  object-fit: cover;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.3);
}
.Courses_inner .Courses_card-title {
  margin-top: 1rem;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .Courses_inner .Courses_card-title {
    font-size: calc(3rem - 0.5rem);
  }
}
.Courses_inner .Courses_card-body {
  margin: 3rem auto 0 auto;
  text-align: center;
  width: 90%;
  font-size: 1.5rem;
  color: black;
}
.Courses_inner .Courses_card-link {
  text-decoration: none;
  text-align: center;
  padding: 1rem 0;
  background-color: #45268d;
  color: #fff;
  font-size: 1.6rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.Courses_inner .Courses_card-link:hover {
  cursor: pointer;
  padding: 2rem 0;
  background: #EF790B;
}
.Courses_inner .Courses_card-link-disabled {
  pointer-events: none;
  background: #585858;
}

.Syllabus {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 5rem;
}
@media screen and (max-width: 970px) {
  .Syllabus {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Syllabus {
    width: 95%;
  }
}
.Syllabus_title {
  font-size: 5rem;
  color: #45268d;
  font-weight: bold;
  margin-bottom: 5rem;
}
.Syllabus_title:after {
  content: "";
  display: block;
  height: 5px;
  width: 5rem;
  background: #45268d;
}
.Syllabus_list-section {
  font-size: 3rem;
  font-weight: bold;
  color: #45268d;
  margin-top: 3rem;
}
.Syllabus_list {
  font-size: 1.6rem;
}
.Syllabus_list-item {
  line-height: 3;
}
.Syllabus_list-item:before {
  display: inline-block;
  content: "";
  font-family: "FontAwesome";
  margin-right: 1rem;
  color: #EF790B;
}

.CTA {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  display: block;
  position: relative;
  background: linear-gradient(190deg, #45268d, #976f9b);
  width: 20rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 970px) {
  .CTA {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .CTA {
    width: 95%;
  }
}
.CTA:hover .CTA_link {
  color: #EF790B;
}
.CTA_link {
  width: 100%;
  margin: 0;
  text-align: center;
  position: absolute;
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  bottom: 50%;
  transform: translateY(50%);
  transition: all 0.3s ease-in-out;
}

.terms {
  width: 70%;
  max-width: 1100px;
  margin: auto;
  min-height: 57.7vh;
}
@media screen and (max-width: 970px) {
  .terms {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .terms {
    width: 95%;
  }
}
.terms_title {
  font-size: 5rem;
  color: #45268d;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.terms_subtitle {
  font-size: 3rem;
  color: #45268d;
  margin-bottom: 2rem;
}
.terms_body, .terms_list {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 5rem;
}
.terms_list li {
  line-height: 2.5;
}
.terms_list li:before {
  display: inline-block;
  content: "";
  font-family: "FontAwesome";
  margin-right: 1rem;
  color: #EF790B;
}
.terms_list li a {
  text-decoration: none;
}

.Faq {
  width: 70%;
  max-width: 1100px;
  margin: auto;
}
@media screen and (max-width: 970px) {
  .Faq {
    width: 80%;
  }
}
@media screen and (max-width: 400px) {
  .Faq {
    width: 95%;
  }
}
.Faq_questions {
  min-height: 100vh;
}
.Faq_questions_accordion {
  margin-bottom: 5rem;
  position: relative;
  padding: 1rem;
  border: #EF790B 0.3rem solid;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}
.Faq_questions_accordion:hover {
  cursor: pointer;
  border: #45268d 0.3rem solid;
}
.Faq_questions_accordion-question {
  font-size: calc(3rem - 1rem);
  font-family: Inconsolata;
}
.Faq_questions_accordion i {
  position: absolute;
  color: #EF790B;
  right: 2rem;
  top: 1rem;
  font-size: 3rem;
  transition: all 0.2s ease-in-out;
}
.Faq_questions_accordion-answer {
  font-size: 1.6rem;
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
}
.Faq .show .Faq_questions_accordion-answer {
  max-height: 50rem;
}
.Faq .show i {
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
