.CTA {
  @include center;
  display: block;
  position: relative;
  background: linear-gradient(190deg, $primary-colour, rgb(151, 111, 155));
  width: 20rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);

  @include below($tablet) {
    width: 20rem;
  }

  @include below($large-phone) {
    width: 50%;
  }

  @include below($phone) {
    width: 20rem;
  }

  &:hover {
    .CTA_link {
      color: $secondary-colour;
    }
  }

  &_link {
    width: 100%;
    margin: 0;
    text-align: center;
    position: absolute;
    text-decoration: none;
    font-size: $subtitle-size;
    color: $white;
    bottom: 50%;
    transform: translateY(50%);
    transition: all 0.3s ease-in-out;
  }
}