.Hero {
  perspective: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;

  @include below(600px) {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); 
  }
  
  &_bg {
    background-image: linear-gradient(rgba(12, 53, 187, 0.8), rgba(46, 170, 219, 0.6));
    width: 100%;
    height: 100%;
    @include below(900) {
      background: none;
    }
  }

  &_cessna {
    position: absolute;
    top : 20%;
    left: 2rem;
    width: 60vw;
    max-width: 90rem; 
    @include slideIn(left, 3);
    animation-fill-mode: forwards;
    z-index: 2;

    @include below($large-phone) {
      width: 80vw;
      top: 30%;
    }

    @include below($phone) {
      animation: none;
      width: 100%;
      transform: rotate(-30deg);
    }
  }

  &_clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 3;

    &-cloud {
      position: absolute;
      bottom: -1rem;
      max-width: 100%;
      min-width: 100%;
      max-height: 40%;
      animation: animate calc(3s * var(--i)) linear infinite;

      @include below($large-phone) {
        min-height: 30%;
      }

      @include below(600px) {
        display: none;
        animation: none;
      }
    }

    @keyframes animate {
      0% {
        opacity: 0;
        transform: scale(1.3);
      }

      25%,75% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: scale(3.3);
      }
    }
  }

  &_logo {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);


    animation: appear ease 2.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;

    @keyframes appear {
      0% {
        opacity: 0;
        width: 48%;
        @include below($tablet)  {width: 58%};
      }

      100% {
        opacity: 1;
        width: 50%;
        @include below($tablet)  {width: 61%};
      }
    }

    @include below($large-phone) {
      opacity: 1;
      animation: none;
      width: 80%;
    }

    @include below($phone) {
      bottom:30%;
      top: unset;
      width: 90%;
    }
  }
}