.Introduction {
  @include center;
  padding-top: 7rem;

  &_header {
    font-size: $title-size;
    font-weight: bold;
    color: $primary-colour;

    @include below($large-phone) {
      font-size: calc(#{$title-size} - 1rem);
      width: 100%;
      text-align: center;
      line-height: 1;
    }
  }

  &_subtitle {
    font-style: italic;
    margin: 0.5rem 0;
    font-size: $subtitle-size;

    span {
      font-weight: bold;
    }

    @include below($large-phone) {
      font-size: calc(#{$subtitle-size} - 0.5rem);
      width: 100%;
      text-align: center;
      margin-bottom: 5rem;
    }
  }

  &_body {
    margin: 1rem 0;
    font-size: $body-size;
  }
}