// ==================
// Slide from left offscreen into view
// ==================
@mixin slideIn($name, $duration, $to: 0) {
  animation: #{$duration}s ease-out 0s 1 #{$name};

  @keyframes left {
    0% {transform: translate(-100%, -60%);}
    100% {transform: translate(#{$to}, -5vh);}
  }

  @keyframes right {
    0% {transform: translateX(200%);}
    100% {transform: translateX(#{$to});}
  }
}


// ==================
// Center element
// ==================
@mixin center {
  width: 70%;
  max-width: 1100px;
  margin: auto;

  @include below($tablet) {
    width: 80%;
  }

  @include below($phone) {
    width: 95%;
  }
}



@mixin underline {
  &:after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 5rem;
    background: $primary-colour;
  }
}

@mixin bulletPoint {
  &:before {
    display: inline-block;
    content: '\f072';
    font-family: 'FontAwesome';
    margin-right: 1rem;
    color: $secondary-colour;
  }
}


// ==================
// Flight Movement
// ==================
@mixin jostle {
  animation: ease-in-out 7.5s jostle alternate infinite;

  @keyframes jostle {
    0% {
      transform: scale(0.98) rotate(1deg);
    }
    100% {
      transform: scale(1.02) rotate(-1deg);
    }
  }
}


// =====================
// Media QUery
// =====================

@mixin below($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
}



