// Set up
@import 'reset.scss';
@import 'typography.scss';
:root {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overscroll-behavior: none;

  h1, h2, h3, h4 {
    font-family: Inconsolata;
  }
}

main {
  position: relative;
  // margin-bottom: 10rem;
  line-height: 1.5;
}

@import 'variables.scss';

// Mixins
@import 'mixins.scss';

// Main files
@import 'header.scss';
@import 'footer.scss';
@import 'hero.scss';
@import 'ProductHero.scss';
@import 'introduction.scss';
@import 'widgets.scss';
@import 'Courses.scss';
@import 'Syllabus.scss';
@import 'CTA.scss';


@import 'terms.scss';

