// GLOBAL ====>

// Colours
$primary-colour: #45268d;
$secondary-colour: #EF790B;
$secondary-accessible: #8B4707;
$white: #fff;

// fonts
$header-nav: 1.5rem;
$primary-font: Inconsolata;
$secondary-font: Roboto;

$title-size: 5rem;
$subtitle-size: 3rem;
$body-size: 2rem;

// =============================================

//MOLECULES ====>
// Header
$header_height: 6rem;

// Product Page Hero BG Images
$ppl-hero: '/assets/pplHero2.jpg';

