// GLOBAL

// Colours
$primary-colour: #45268d;
$secondary-colour: #EF790B;
$secondary-accessible: #8B4707;
$white: #fff;

// fonts
$header-nav: 1.5rem;
$primary-font: Inconsolata;
$secondary-font: Roboto;

$title-size: 5rem;
$subtitle-size: 3rem;
$body-size: 1.6rem;

// =============================================

// Product Page Hero BG Images
$ppl-hero: '../assets/pplHero.jpg';
$ppl-hero-small: '../assets/pplHero-small.jpg';

// ====================
// Breakpoints
// ====================
$desktop: 1100px;
$tablet: 970px;
$large-phone: 720px;
$phone: 400px;


