// GLOBAL ====>

// Colours
$primary-colour: #45268d;
$secondary-colour: #EF790B;
$white: #fff;

// fonts
$header-nav: 1.5rem;
$primary-font: Inconsolata;
$secondary-font: Roboto;


// =============================================

//MOLECULES ====>
// Header
$header_height: 6rem;

